<div class="card" style="width: 33.333%;">
      <img class="card-img-top" src="{{image_url}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
      </div>
</div>