<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Beer</title>
</head>
<body>
  <h1>Beers</h1>

{{!-- <div class="bears-container">
  {{#each beers}}
      {{> beerCard this}}
  {{/each}}
</div> --}}


  {{#each beers}}
      {{> beerPartial this}}
  {{/each}}
</body>
</html>