<div class="index-container">
   <img src="/images/beer.png" alt="">

   <button type="button"> <a href="/beers">Check the Beers!</a> </button>
   <button type="button"><a href="/randomBeer">Check A Random Beer! </a></button>
</div>