<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Beer</title>
</head>

<body>
  <h1>Beers</h1>

  {{!-- <h1>List of beers</h1> --}}

  <div class="cards">
    {{#each beers}}
    <div class="card">
      <img src="{{this.image_url}}" />
      <h2>{{this.name}}</h2>
      <h3>{{this.tagline}}</h3>
      <p>{{this.description}}</p>
    </div>
    {{/each}}
  </div>
</body>

</html>