<div class="index-container">
   <div class="sub-container">
      <img src="/images/beer.png" alt="">

      <button class="btn btn-primary" type="button"><a href="/beers">Beers List!</a> </button>
      <button class="btn btn-primary" type="button"><a href="/randomBeer">Random Beer! </a></button>
   </div>
</div>