/*
white: #F7F9F9;
light-blue: #2081C3;
dark-blue: #0A2C42;
grey: rgba(145, 145, 145, 0.481);
font-family: Arial, Helvetica, sans-serif
*/
body {
  background-color: aliceblue;
  width: 100%;
  margin: 0;
  padding: 0;
}

.collapse a {
  color: white;
  font-weight: 600;
  float: right;

}

.index-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2px;
  width: 100%;
  position: relative;
  top: 50px;
}


.sub-container {
  position: relative;
  top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: rgb(224, 217, 217);
  box-shadow: 10px 5px 5px #0099E6;
  padding: 15px 5px;
  width: 50%;
  left: 25%;
  margin-bottom: 15px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.sub-container:hover {
  transform: scale(1.05);
}


.sub-container img {
  position: relative;
  top: 20px;
  width: 80%;
  height: 50vh;
}


.index-container .btn-primary {
  position: relative;
  top: 60px;
  flex-direction: column;
  justify-content: center;
  width: 125px;
  padding: 5px 5px;
  margin-bottom: 10px;
}


.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1px;
  width: 100%;
  position: relative;
  top: 50px;

}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: rgb(224, 217, 217);
  box-shadow: 10px 5px 5px #0099E6;
  padding: 15px 5px;
  width: 90%;
  left: 15px;
  margin-bottom: 15px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 60%;
  height: 150px;
  position: relative;
  top: 4px;
  left: 15%;
}

.card a {
  color: black;
}

.random {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1px;
  width: 100%;
  position: relative;
  top: 50px;
}

.random .card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: rgb(224, 217, 217);
  box-shadow: 10px 5px 5px #0099E6;
  padding: 15px 5px;
  width: 70%;
  left: 15%;
  margin-bottom: 15px;
  cursor: pointer;
  transition: all .2s ease-in-out;
  height: 70vh;
}


a {
  color: #FFFFFF;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
  text-align: center;
}

.card h3 {
  position: relative;
  top: 150px;
  font-size: 16px;
  color: black;
}


.card p {
  position: relative;
  top: -10px;
  padding: 5px;
  color: black;
}

.card h2 {
  position: relative;
  top: 15px;
  text-align: center;
  color: black;
  font-size: 20px;
}

.navbar {
  background-color: #0099E6 !important;
}

form {
  padding: 5px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #0099E6;
  color: white;
  text-align: center;
  height: 45px;
}

.button {
  background-color: #0099E6;
  display: inline-block;
  border-radius: 4px;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 23px;
  /* width: 200px; */
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  padding: 5px;
  top: 300px;
  position: relative;
}

@media only screen and (max-width: 800px) {
  body {
    background-color: lightblue;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1px;
    width: 100%;
    position: relative;
    top: 50px;

  }

  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: rgb(224, 217, 217);
    box-shadow: 10px 5px 5px #0099E6;
    padding: 15px 5px;
    width: 90%;
    left: 15px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all .2s ease-in-out;
  }

  .card:hover {
    transform: scale(1.05);
  }

  .card img {
    width: 60%;
    height: 150px;
    position: relative;
    top: 4px;
    left: 15%;
  }

  .card a {
    color: black;
  }
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1px;
    width: 100%;
    position: relative;
    top: 50px;

  }

  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: rgb(224, 217, 217);
    box-shadow: 10px 5px 5px #0099E6;
    padding: 15px 5px;
    width: 90%;
    left: 15px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all .2s ease-in-out;
  }

  .card:hover {
    transform: scale(1.05);
  }

  .card img {
    width: 60%;
    height: 150px;
    position: relative;
    top: 4px;
    left: 15%;
  }

  .card a {
    color: black;
  }
}